// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
 @tailwind base;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

    .banner-header-text {
        // @apply text-2xl;
        @apply text-3xl;
    }
    .h-25 {
        height: 40%;
    }

    .navbar-item {
        @apply block;
    }
    .navbar-item:hover, .navbar-item:active {
        @apply text-copy-ternary;
    }

    .max-h-xs{
        max-height: 20rem;
    }
    .max-h-sm{
        max-height: 24rem;
    }
    .max-h-md{
        max-height: 28rem;
    }

    @screen sm {
        .banner-header-text {
            @apply text-4xl;
        }
        .navbar-item {
            @apply inline-block;
        }
        .max-h-sm{
            max-height: 24rem;
        }
        .max-h-md{
            max-height: 28rem;
        }

    }

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
.theme-light{
    --bg-background-primary: #22252E;
    --bg-background-secondary: #747A7F;
    --bg-background-ternary: #F4F5F5;
    --bg-background-accent-1:  #848F8D;
    --bg-background-accent-2:  #78838B;
    --text-copy-primary: #22252E;
    --text-copy-secondary: #F4F5F5;
    --text-copy-ternary: #747A7F;
}

.theme-dark{
    --bg-background-primary: #22252E;
    --bg-background-secondary: #22252E;
    --bg-background-ternary: #22252E;
    --bg-background-accent-1:  #22252E;
    --bg-background-accent-2:  #22252E;
    --text-copy-primary: #fff;
    --text-copy-secondary: rgb(177, 29, 29);
    --text-copy-ternary: #78838B;
}

.h-half {
    height: 50vh;
}

.h-s-half{
    height: 50vh;
}

.h-third{
    height: 33.333333vh;
}
.h-quarter{
    height: 25vh;
}

@media (min-width: 640px) {
    .sm\:h-s-half {
        height: 50vh;
    }
    .sm\:h-third {
        height: 33.333333vh;
    }
    .sm\:h-quarter {
        height: 25vh;
    }
}
@media (min-width: 768px) {
    .md\:h-s-half {
        height: 50vh;
    }
    .md\:h-third {
        height: 33.333333vh;
    }
    .md\:h-quarter {
        height: 25vh;
    }
}

@media (min-width: 1024px) {
    .lg\:h-s-half {
        height: 50vh;
    }
    .lg\:h-quarter {
        height: 25vh;
    }
}

@media (min-width: 1280px) {
    .xl\:h-s-half {
        height: 50vh;
    }
}

.w-half {
    width: 50vh;
}

.w-90vh {
    width: 90vh;
}

.h-5vh {
    height: 5vh;
}

.h-10vh {
    height: 10vh;
}

.h-45vh {
    height: 45vh;
}

.h-40vh {
    height: 40vh;
}

.h-1-2 {
    height: 50%;
}

// @media (min-width: 640px)
// .md\:h-half {
//     height: 50vh;
// }


// .sm\:h-half {
//     height: 50vh;
//   }
